*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 ;
    background: linear-gradient(to right, rgba(246,29,29,1), gray);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-imagem{
    width: 50px;
    height: 50px;
}
.container-logo{
    display: flex;
    align-items: center;
}
.menu li{
    display: inline-block;
    margin: 0 80px;
}
.menu li a{
    color: white;
    text-decoration: none;
}

body{
    background-color: black;
}
.textimg1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
.img1{
    position: relative;
    box-sizing: border-box;
    margin: 0 200px;
    top: 210px;

}
.textimg2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    width: 320px;
}
.img2{
    position: relative;
    box-sizing: border-box;
    margin: 0 750px;
    top: 45px;
}
.textimg3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    width: 320px;
    
}
.img3{
    position: relative;
    box-sizing: border-box;
    margin: 0 1250px;
    top: -120px;
}
